.main-nav {
  margin: 0;
  padding: 0;
  // display: flex;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @include viewport--lg {
    display: flex;

    justify-content: space-between;
  }
}

// .main-nav__wrapper {
//   outline: 5px solid rgba(0, 255, 0, 0.8);
//   outline-offset: -5px;
//   margin: 0 auto;

//   @include viewport--md {
//     display: flex;
//     // justify-content: space-between;
//     width: $tablet-width;
//     margin: 0 auto;
//   }

//   @include viewport--lg {
//     display: flex;
//     justify-content: space-between;
//     width: auto;
//     margin: 0 auto;
//   }
// }
