.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: $mobile-width - 2 * $padding-min;
  min-height: 55px;
  // padding-top: 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $color-fonbasic;

  border: 3px solid $color-fonbasic;
  border-radius: 29px;
  background-color: transparent;
  cursor: pointer;

  // &:hover,
  // &:focus {
  //   color: $color-fonbasic;
  //   background: $color-text;
  //   border: 2px solid $color-text;
  //   outline: none;
  // }

  // &:active {
  //   color: $color-fonbas3;
  // }
}
