// viewports
//-----------
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
$padding-min: 20px;
$padding-max: 100px;

//fonts
//-----------
$font-main: "Open Sans", "Arial", sans-serif;

//colors
//-----------
$color-fonbasic: #ffffff;
$color-fontint1:rgba(0, 0, 0, 0.3);
$color-fontint2: #f2f2f2;

$color-fonmenu: #283645;
$color-menuopac:rgba(40, 54, 69, 0.1);
$color-menushadow: rgba(255, 255, 255, 0.15);

$color-text: #000000;
$color-brighttext: #D22856;

// $color-fonintro:rgb(31, 52, 71);
$color-backintro:rgb(29, 38, 49);

