// viewports
//-----------
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$padding-min: 30px;
$padding-max: 50px;

//fonts
//-----------
$font-main: "Open Sans", "Arial", sans-serif;

//colors
//-----------
$color-fonbasic: #ffffff;
$color-content: #000000;
